<% include partials/header %>

    <nav class="navbar navbar-expand-md navbar-light bg-light">     
        <a class="navbar-brand" href="/">DeepDom</a>
        <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " >
                    <a class="nav-link" href="/upload"><i class="fas fa-home"></i> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search"><i class="fas fa-search"></i> Search </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/status"><i class="fas fa-list"></i> Status <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- <div class="container"> -->
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4"><span class="border-bottom border-dark p-1">DeepDom</span></h1>
                <p class="lead d-none d-sm-block">An ab-initio method for protein domain boundary prediction</p>
                <p class="d-none d-lg-block"></p>
            </div>
        </div>
    <!-- </div> -->

    <div class="container border ">
      <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <thead class="thead-black">
              <tr>
                <th scope="col" >Job ID</th>
                <th scope="col" >Job Nickname</th>
                <th scope="col" >Submitted Time</th>
                <th scope="col" >Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <th scope="row">123456789ABCDEFG</th>
                <td>Mark</td>
                <td>21:36:12 9/16/2019</td>
                <td>Processing</td>                
              </tr>
              <tr class="table-success">
                <th scope="row">123456789ABCDEFG</th>
                <td>Jacob</td>
                <td>21:36:12 9/16/2019</td>
                <td>Done</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">123456789ABCDEFG</th>
                <td>Larry</td>
                <td>21:36:12 9/16/2019</td>
                <td>Error</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

<% include partials/footer %>